<div class="os-wrapper">
  <div class="windows sc-dNLxif enarDJ"><img class="sc-cIShpX krZqZq" src="">
    <div class="sc-jqCOkK cefWOE">
      <div class="sc-uJMKN ZvewQ"><img class="sc-bbmXgH iGcOCG"
                                       src="">
      </div>
      <div class="sc-gGBfsJ lcsDai">
        <div class="sc-jnlKLf fTyJsx">Notification Preview</div>
        <div class="sc-fYxtnH gTFnUl">Preview your push notification</div>
        <div class="sc-tilXH ckJOpq">Google Chrome • {{ url('<front>') }}</div>
      </div>
      <div class="sc-hqyNC dmerGi"></div>
    </div>
  </div>

  <div class="mac-os sc-kfGgVZ ipnekk">
    <div class="sc-esjQYD iwkTJp">
      <svg class="sc-kIPQKe bLxIqO" viewBox="0 0 48 48">
        <circle cx="24" cy="24" r="19" fill="#4CAF50"></circle>
        <path fill="#FFC107" d="M24 5v19l8 4-8.8 15h.8c10.5 0 19-8.5 19-19S34.5 5 24 5z"></path>
        <path fill="#F44336" d="M16 28l8-13h16.7C37.5 9 31.2 5 24 5c-6.7 0-12.6 3.5-16 8.8L16 28z"></path>
        <path fill="#DD2C00" d="M8 13.8L16 28l5-1"></path>
        <path fill="#F9A825" d="M40.6 15H24l-1.5 4.8"></path>
        <path fill="#558B2F" d="M23.2 43L32 28l-3.8-3.1"></path>
        <circle cx="24" cy="24" r="9" fill="#FFF"></circle>
        <circle cx="24" cy="24" r="7" fill="#2196F3"></circle>
      </svg>
    </div>
    <div class="sc-eXEjpC gXCLxh">
      <div class="sc-ibxdXY ioHjEQ">Notification Preview</div>
      <div class="sc-RefOD hwFvRK">{{ url('<front>') }}</div>
      <div class="sc-iQKALj kWfrHA">Preview your push notification</div>
    </div>
    <div class="sc-bwCtUz fdMnmP"><img class="sc-hrWEMg dhXmmI"
                                       src="{{ url('<front>') }}">
    </div>
  </div>

  <div class=" android sc-eHgmQL dvWsNZ">
    <div class="sc-cvbbAY kVxZgZ">
      <div class="sc-jWBwVP bSvhhC">
        <svg class="sc-brqgnP kBUWJd" viewBox="0 0 1024 1024">
          <path stroke="inherit"
                d="M258.278 446.542l-146.532-253.802c93.818-117.464 238.234-192.74 400.254-192.74 187.432 0 351.31 100.736 440.532 251h-417.77c-7.504-0.65-15.092-1-22.762-1-121.874 0-224.578 83.644-253.722 196.542zM695.306 325h293.46c22.74 57.93 35.234 121.004 35.234 187 0 280.826-226.1 508.804-506.186 511.926l209.394-362.678c29.48-42.378 46.792-93.826 46.792-149.248 0-73.17-30.164-139.42-78.694-187zM326 512c0-102.56 83.44-186 186-186s186 83.44 186 186c0 102.56-83.44 186-186 186s-186-83.44-186-186zM582.182 764.442l-146.578 253.878c-246.532-36.884-435.604-249.516-435.604-506.32 0-91.218 23.884-176.846 65.696-251.024l209.030 362.054c41.868 89.112 132.476 150.97 237.274 150.97 24.3 0 47.836-3.34 70.182-9.558z"></path>
        </svg>
        <span class="sc-cMljjf lkJynk">Chrome • {{ url('<front>') }}</span><span class="sc-bRBYWo eEvYbE"></span></div>
      <div class="sc-jAaTju dfzaWK">
        <div class="sc-hzDkRC kEOzSi">
          <div class="sc-jhAzac kxShIr">
            <div class="sc-jDwBTQ eHeOft">Notification Preview</div>
            <div class="sc-gPEVay kogGHL">Preview your push notification</div>
          </div>
        </div>
        <img class="sc-jlyJG jMyxsl"
             src="">
      </div>
    </div>
  </div>
</div>

